/* Eric Meyer's CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html,
body {
    height: 100%;
    margin: 0;
    background-color: #333;
    /* overflow: hidden; */
}

/* Navigation
-----------------------------------------------------------------------------*/

ul.topnav {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    background-color: #222;
    z-index: 2;
}

ul.topnav li {
    float: left;
    display: table;
    width: auto;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

ul.topnav li a {
    display: table-cell;
    width: auto;
    color: #aaa;
    text-align: center;
    vertical-align: middle;
    padding: 0px 17px;
    text-decoration: none;
    white-space: nowrap;
}

ul.topnav li a:hover:not(.active) {
    color: #eee;
    background-color: #111;
    border-bottom: 3px solid #111;
    transition: 0.25s;
}

ul.topnav li a.active {
    color: #eee;
    background-color: #111;
    border-bottom: 3px solid #4CAF50;
}

ul.topnav div.right {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 5px;
}

.topnav-menu {
    display: table-cell;
    cursor: pointer;
    width: auto;
    height: auto;
    vertical-align: middle;
    padding: 0px 17px;
}

.topnav-menu-bar1,
.topnav-menu-bar2,
.topnav-menu-bar3 {
    width: 20px;
    height: 2px;
    background-color: #eee;
    margin: 4px 0;
    transition: 0.4s;
}

.topnav-flag,
.topnav-flag-last {
    display: table-cell;
    cursor: pointer;
    width: auto;
    height: 17px;
    vertical-align: middle;
    box-shadow: 1px 1px 1px #000000aa;
}

@media screen and (max-width: 600px) {
    ul.topnav li {
        overflow-x: auto;
    }
}

/* Rotate first bar */

.change .topnav-menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-4.5px, 4px);
    transform: rotate(-45deg) translate(-4.5px, 4px);
}

/* Fade out the second bar */

.change .topnav-menu-bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .topnav-menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-4.5px, -4px);
    transform: rotate(45deg) translate(-4.5px, -4px);
}

/* Menu
-----------------------------------------------------------------------------*/

.left-sidebar {
    float: left;
    position: absolute;
    height: 100%;
    width: 350px;
    box-shadow: 0px 0px 5px #aaa;
    overflow: auto;
    z-index: 1;
    transition: 0.4s;
    background: #eee;
}

.sidebar-header {
    padding: 18px;
    color: #eee;
    background-color: #4CAF50;
}

.sidebar-spacer {
    display: block;
    height: 60px;
}

.autocomplete {
    display: block;
    padding: 7px;
}

.autocomplete input {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    /* font-size: 16px; */
}

.autocomplete input[type=search] {
    width: 100%;
}

.autocomplete input:focus {
    outline: none;
}

.autocomplete-items {
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 0.5px solid #ddd;
}

.accordion-icon {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.accordion:after {
    content: '\02795';
    font-size: 6px;
    color: #777;
    float: right;
    padding-top: 5px;
}

.accordion.active:after {
    content: "\2796";
}

.panel {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* border-bottom: 0.5px solid #ddd; */
}

.row {
    height: 50px;
    border-bottom: 0.5px solid #ddd;
}

.filter-toggle {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}

.filter-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.filter-icon-light {
    display: none;
    float: left;
    width: auto;
    height: 38px;
    padding: 6px;
    background-color: #4CAF50;
}

.filter-icon-dark {
    float: left;
    width: auto;
    height: 38px;
    padding: 6px;
    background-color: #fff;
}

input:checked+.filter-slider .filter-icon-light {
    display: block;
}

input:checked+.filter-slider .filter-icon-dark {
    display: none;
}

.filter-slider span {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 50;
    width: 60%;
    padding: 0 0 0 10px;
    color: #555;
    font-size: 12px;
}

.settings-entry {
    display: grid;
    width: auto;
    padding: 7px;
}

.settings-entry button {
    border: 1px solid #ddd;
    color: #444;
    background-color: #fff;
    padding: 10px;
}

.settings-entry button:hover {
    background-color:#00000080;
    color: #fff;
    transition: 0.25s;
}

/* Map
-----------------------------------------------------------------------------*/

#map {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-left: 370px;
    z-index: 0;
    transition: 0.4s;
}

.feature-label {
    /* ... */
}

.feature-label span {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    white-space: nowrap;
    font-size: 14px;
    color: #eee;
    width: auto;
    height: auto;
    transform: translate(-50%, -25%);
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}

.version-info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0;
    font-size: 11px;
    color: #999;
}